.App {
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card {
  width: 100% !important;
}
input {
  border-top: none !important;
  border-bottom-left-radius: 20% !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid teal !important;
  width: 100% !important;
}
.customNav{
  width: 100% !important;
  padding-right: 0 !important;
  margin-top: 0 !important;
  height: 100vh !important;
  
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.cat-inp {
  display: inline-block !important;
  width: auto !important;
}
.cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidenav {
  bottom: 0;
  top: 0;
  position: fixed;
  left: 0;
}
footer {
  bottom: 0;
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
